/*Common Styles */
ul,
ol {
  list-style-type: none;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin-left: 0;
  margin-right: 0;
}
button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #fff;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

/* Header Styles */

.contacts-list-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}

.contacts-list-link:hover,
.contacts-list-link:focus {
  color: #404bbf;
  color: #404bbf;
}

.container-header {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
  border-bottom: 1px solid #e7e9fc;
}

.page-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-color {
  color: #2e2f42;
}

.page-nav {
  display: flex;
  align-items: center;
}

.page-address {
  display: flex;
  gap: 40px;
  font-style: normal;
  padding-left: 332px;
  padding-right: 156px;
  margin-bottom: 24px;
}

.menu {
  color: #2e2f42;
  display: flex;
  gap: 40px;
  padding: 24px 0;
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

/* Main styles */

.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  width: 496px;
  margin-bottom: 48px;
  max-width: 496px;
}

.hero {
  display: flex;
  background-color: #2e2f42;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  align-content: center;
  height: 600px;
  align-items: center;
  margin-bottom: 120px;
  padding: 188px 0;
}

.buy-now-btn {
  display: block;
  min-width: 169px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
}

.buy-now-btn:hover,
.buy-now-btn:focus {
  color: #404bbf;
  background-color: #404bbf;
}

/*Section 2*/
.advantages {
  padding: 120px 0;
}

.advantages-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.advantages-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.advantages-list {
  display: flex;
  gap: 24px;
  align-items: center;
  margin-left: 24px;
}

.advantages-list-item {
  width: calc((100% - 72px) / 4);
}

/*Section 3*/
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
  padding: 120px 0;
}

.team {
  background-color: #f4f4fd;
  margin-bottom: 120px;
}

.team-list {
  display: flex;
  gap: 24px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.section-title {
  text-transform: capitalize;
  margin-top: 120px;
  margin-bottom: 72px;
}

.team-list-img {
  background: #fff;
}

.box-team {
  padding: 32px 0;
  text-align: center;
  margin-bottom: 8px;
}

.team-list-item {
  background-color: #ffffff;
  padding: 0px 0px 32px 0px;
  width: 264px;
  height: 380px;
  border-radius: 0px 0px 4px 4px;
}

.team-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

/* Section 4 */
.portfolio {
  margin: 156px;
}

.container-section-04 {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 24px;
  row-gap: 48px;
}

.box-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}

.portfolio-item {
  margin-bottom: 48px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  width: 360px;
}

.portfolio-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-bottom: 8px;
}

.portfolio-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-top: 8px;
}

.portfolio-img {
  background: #fff;
  width: 360px;
  height: 300px;
}

/* Footer styles */
.footer-text {
  width: 264px;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.page-footer {
  background-color: #2e2f42;
  padding: 100px 1020px 156px 100px;
  padding: 100px 0;
}

.logo-color-studio {
  color: #f4f4fd;
}

.page-logo-footer {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
